<!DOCTYPE html>
<html>
  <head>
    <title>NaviAssessments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class='has-text-centered'>
    <h1 class='font-indie-flower font-size-lg'>
      Mentee Assessments
    </h1>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
